body,
button,
p,
a {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --main_color: #5f4dee;
  --main_font: 'Open Sans', sans-serif;
}

/* Nav Styles */

.nav_container {
  padding: 4px 90px;
  background: var(--main_color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_right_content {
  display: flex;
  align-items: center;
}

.logo_link {
  display: inline-block;
}

.logo_link > img {
  width: 76px;
}

.nav_list {
  display: flex;
}

.nav_list a {
  display: inline-block;
  padding: 10px 12px;
}

.dropdown_menu {
  position: relative;
}

.dropdown_menu > ul {
  position: absolute;
  padding: 10px;
  background: var(--main_color);
  min-width: 130px;
  border-radius: 6px;
  left: 0px;
  top: 80%;
  display: none;
  font-weight: 600;
  box-shadow: #1f175c92 0 8px 6px;
}

.dropdown_menu button:after {
  position: relative;
  top: 11px;
  right: -3px;
  content: '';
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid rgb(255, 255, 255);
}
.dropdown_menu > ul > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.dropdown_menu > ul > li:last-child {
  border-bottom: 0px;
}

.dropdown_menu > ul a {
  display: block;
  padding: 15px 0;
  background-color: transparent;
}

.dropdown_menu:hover > ul {
  display: block;
}

.nav_right_content ul a,
.nav_right_content button,
.nav_right_content a {
  opacity: 0.8;
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.nav_right_content *:hover {
  opacity: 1;
}

.dropdown_menu > button {
  background-color: transparent;
  border: none;
  padding: 30px 12px;
}

.login_button {
  border: 1px solid white;
  padding: 10px 19px;
  margin-left: 14px;
  border-radius: 20px;
}
.login_button:hover {
  background-color: white;
  color: var(--main_color);
}
